body {
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 1.8rem;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.page {
    height: 100vh;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

#wall-red {
    background-image: url(../img/01.png);
    background-color: red;
    color: rgb(246, 250, 7);

}

#wall-green {
    background-image: url(../img/02.png);
    background-color: green;
    color: rgb(246, 250, 7);
}


#wall-yellow {
    background-image: url(../img/03.png);
    background-color: yellow;
    color: green;
}



.page .content {
    position: absolute;
    top: 84%;
    left: 50%;
    text-align: end;
    translate: -50% -50%;
}