body {
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/* shoes and wall */
h1 {
    font-size: 1.8rem;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.page {
    height: 100vh;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#wall-red {
    background-image: url(../img/01.png);
    background-color: red;
    color: rgb(246, 250, 7);
}

#wall-green {
    background-image: url(../img/02.png);
    background-color: green;
    color: rgb(246, 250, 7);
}


#wall-yellow {
    background-image: url(../img/03.png);
    background-color: yellow;
    color: green;
}


.page .content {
    position: absolute;
    top: 84%;
    left: 50%;
    text-align: end;
    translate: -50% -50%;
}

.page::before {
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}


/* Menù */
.menù {
    position: fixed;
    right: 0;
    top: 0;
    translate: 0 50%;
}

.menù a {
    color: black;
    background-color: white;
    font-size: 18px;
    display: inline-block;
    margin-left: 28px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-shadow: 1px 1px 1px black;
    line-height: 40px;
    text-align: center;
    text-decoration: none
}

ul {
    display: flex;
    list-style-type: none;
}

.menù a:hover {
    scale: 1.1;
}

.menù a:active {
    scale: 1;
}